$black: rgba(0, 0, 0, 0.5);
$light-black: rgba(0, 0, 0, 0.2);
$lighter-black: rgba(0, 0, 0, 0.1);
$green: #008000;
$dark-red: rgba(255, 0, 0, 0.8);
$red: rgba(255, 0, 0, 0.5);
$light-red: rgba(184, 63, 69, 0.2);
$grey: #777777;
$white: #ffffff;
$dark-white: #f6f6f6;
$brown: rgba(255, 165, 0, 0.5);
$light-brown: rgba(255, 165, 0, 0.3);
