@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.filter {
	display: flex;

	&__btn {
		padding: 3px 5px;
		border: 1px solid transparent;
		border-radius: 4px;
		transition: ease-in-out 0.1s;

		@include hoverSupport {
			border: 1px solid $light-brown;
			transition: ease-in-out 0.1s;
		}

		&_active {
			border: 1px solid $brown;
		}
	}
}
